@import "./partials/nav";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  height: 100vh;

  & ul > li {
    list-style: none;
    text-decoration: none;
  }
  .card {
    height: 75vh;
  }

  header{
    height: 30vh;
  }
}




p {
  color: white;
}
